snippet AP_head "Head of ap lab and assignments for md files"
~~~
Name            : Ahmed Salman Bayomy Abdelaziz
ID              : 120180047
~~~

~~~
CSE314 - Lab $1

Topic           : $2
Author          : Ahmed Abdelaziz
Date            : `!v strftime("%d")`/`!v strftime("%m")`/`!v strftime("%Y")`
~~~
endsnippet
