snippet AP_head "The header of the ap lab and assignments"
# CSE314 - Lab $1
#
# Topic           : $2
# Author          : Ahmed Abdelaziz
# Date            : `!v strftime("%d")`/`!v strftime("%m")`/`!v strftime("%Y")`
endsnippet
