:root {
	--initial-width                         : 50px;     /* initial width of the sidebar. Only used with userChrome-hover */
	--sidebar-width                         : 250px;    /* expanded width of the sidebar. used for both userChrome-overlay and userChrome-static */
	--toolbar-height                        : 0;
	--menubar-height                        : -33px;
	--toolmenubar-height                    : -33px;    /* sum of previous two */
	--shadow-color                          : #28282F;  /* shadow color. set to #00000000 for no shadow. same as folder color from hntp and tab-hover color from tst*/
	--color-bg                              : rgba(27, 27, 36, 1);
	--color-hover                           : rgba(11, 11, 11, 1);
	--color-selected                        : rgba(7, 7, 7, 1);
	--close-button-opacity-nonhover         : 0.2;
	--transition-speed                      : 0.3s;
	--urlbar-height                         : 33px;
	--urlbar-text-size                      : 8pt;
	--urlbar-text-weight                    : 325;
	--lwt-toolbar-field-focus               : var(--color-selected) !important;
}
